@mixin font($ff: inherit, $fz: inherit, $fc: inherit, $fw: 400, $lh: 1.6) {
    font-family: $ff;
    font-weight: $fw;
    font-size: $fz;
    color: $fc;
    line-height: $lh;
}

@mixin tr {
    transition: all .4s ease-in;
}

@mixin hover() {
    @include tr;
    &:hover,
    &:focus,
    &:active {
        @content;
    }
}